@import "common/variables";


// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/components-font-awesome/scss/font-awesome.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower



@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";



 .box-shad {

    box-shadow:  0 0 16px #000;
}
 .box-shad-sm {

    box-shadow:  0 0 8px #000;
}

.grayscale {
 

  filter: sepia(0.6);
filter: contrast(1.3);
 filter: grayscale(0.8);
    filter: drop-shadow(1);


}

.borderround {
    border-radius: 16px!important;
}

.borderroundlt {
    border-top-left-radius: 16px!important;
    
}

.bordernoradius {
    border-radius: 0px!important;
}
.borderless {
    border-style: none!important;
}

.serarchinpunt {box-shadow:         0px 0px 9px 0px rgba(117, 186, 0, 0.77);}

.page-header {
padding-bottom: 0px;
margin: 40px 0 20px;
border-bottom: 0px solid #eee;
}

.iconop {
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
      background-color: Transparent;
    border:none;
    box-shadow:none;
}

.nobottomborder {
    
    border-bottom: none!important;
  
}